body {
  background-color: #222;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
}

.pill {
  position: absolute;
  width: 175vh;
  height: max(25vh, 15rem);
  background-color: #d9d9d9;
  border-radius: 10000rem;
  opacity: 0.03;
  translate: -50% -50%;
  display: none;
}

.pill-1 {
  top: 0;
  left: 10vw;
  rotate: 60deg;
}

.pill-2 {
  top: 140vh;
  right: -50vw;
  rotate: -60deg;
}

.landing {
  height: 100vh;
  position: relative;
}

.left {
  margin-top: 15vh;
  margin-bottom: 25vh;
}

.socials {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.25rem;
}

.socials img {
  height: 30px;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.socials img:hover {
  opacity: 1;
}

.title {
  display: inline-block;
  margin-bottom: 5rem;
}

.name {
  font-size: clamp(2rem, 13.5vw, 5rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
  line-height: 1;
  white-space: nowrap;
}

.stack {
  font-size: clamp(1.2rem, 8vw, 2.5rem);
  font-family: "Poiret One", sans-serif;
  color: #ccc;
  line-height: 1;
  margin: 0.3rem 0 0.75rem 0;
}

.description {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  color: #aaa;
  margin-top: 3rem;
  padding: 0 2rem;
  position: relative;
}

.description::before {
  content: "";
  position: absolute;
  top: -12.5%;
  left: 0;
  width: 0.1rem;
  height: 125%;
  background-color: #eee;
}

.right {
  padding-bottom: 35vh;
}

.right h2 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
  margin-bottom: 2rem;
  position: relative;
}

.project-list {
  position: relative;
}

.project-list a {
  text-decoration: none;
}

.project-list li {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  color: #aaa;
  list-style: none;
  line-height: 2;
  text-align: center;
  transition: color 0.2s ease-out;
}

.project-list a:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-color: #eee;
  text-decoration-thickness: 0.1rem;
}

.project-list a:is(:hover, :focus) li {
  color: #eee;
}

.corner {
  --corner-stroke-width: 0.1rem;

  position: absolute;
  top: -1rem;
  width: 3rem;
  aspect-ratio: 1;
  background-color: #eee;
  clip-path: polygon(
    0 0,
    0 100%,
    var(--corner-stroke-width) 100%,
    var(--corner-stroke-width) var(--corner-stroke-width),
    100% var(--corner-stroke-width),
    100% 0
  );
}

.corner-end {
  top: revert;
  left: revert;
  bottom: -1rem;
  right: 0;
  rotate: 180deg;
}

.down-arrow {
  --corner-stroke-width: 0.05rem;
  width: 1rem;
  top: 62vh;
  left: 50%;
  translate: -50% 0;
  rotate: 225deg;
  animation: bob-up-down 1.5s ease-in-out infinite;
}

@keyframes bob-up-down {
  0% {
    translate: -50% 0;
  }
  50% {
    translate: -50% 0.5rem;
  }
  100% {
    translate: -50% 0;
  }
}

@media (min-width: 925px) {
  .wrapper {
    padding: 0 2rem;
  }

  .landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
  }

  .landing > * {
    margin: 0 2rem;
  }

  .socials {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    padding: 1.25rem;
  }

  .left {
    margin-top: 0;
    width: clamp(30rem, 60%, 40rem);
  }

  .title {
    margin-bottom: 0;
  }

  .name {
    font-size: clamp(5rem, 8vw, 6rem);
  }

  .stack {
    font-size: clamp(2.5rem, 4vw, 3rem);
    text-align: center;
    margin: 0;
  }

  .right {
    padding-bottom: 0;
  }

  .right h2 {
    left: -1.5rem;
  }

  .corner {
    left: -1.5rem;
  }

  .corner-end {
    left: revert;
    right: -1.5rem;
  }

  .down-arrow {
    visibility: hidden;
  }
}
