<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope&family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/scripts/main.js" defer></script>

    <title>Moulik Budhiraja</title>
  </head>
  <body>
    <div class="wrapper">
      <% if (user) { %>
      <a href="#" class="logout-btn thematic">Logout</a>
      <% } %>
      <main>
        <div class="pill pill-1"></div>
        <div class="pill pill-2"></div>
        <section class="landing">
          <div class="left">
            <div class="title">
              <h1 class="name">Hi, I'm Moulik</h1>
              <h2 class="stack">Full Stack | Student</h2>
              <div class="socials">
                <a href="mailto:moulikbudhiraja@gmail.com" target="_blank"
                  ><img src="/images/mail.svg" alt="gmail"
                /></a>
                <a href="https://github.com/Moulik-Budhiraja" target="_blank"
                  ><img src="/images/github.svg" alt="github"
                /></a>
                <a
                  href="https://www.linkedin.com/in/moulikbudhiraja/"
                  target="_blank"
                  ><img src="/images/linkedin.svg" alt="linkedin"
                /></a>
                <a href="https://www.instagram.com/moulik_b/" target="_blank"
                  ><img src="/images/instagram.svg" alt="instagram"
                /></a>
              </div>
            </div>
            <div>
              <p class="description">
                I am a high school student from Waterloo, Ontario, who has a
                passion for programming and photography. I like to make various
                projects in my free time using many different languages and
                technologies.
                <br /><br />
                My approach to most things is to dive in head first into the
                deep end and learn as I go. I am always looking for new
                opportunities to learn and grow as a developer.
              </p>
            </div>
          </div>
          <div class="corner down-arrow"></div>
          <div class="right">
            <h2>Projects</h2>
            <ul class="project-list">
              <div class="corner corner-start"></div>
              <div class="corner corner-end"></div>
              <a href="#nail-braille">
                <li>Nail Braille</li>
              </a>
              <a
                href="https://github.com/Moulik-Budhiraja/Tank-Trample"
                target="_blank"
              >
                <li>Tank Trample</li>
              </a>
              <a
                href="https://github.com/Moulik-Budhiraja/Sprinkler-System"
                target="_blank"
              >
                <li>Irrigation Controller</li>
              </a>
              <a
                href="https://github.com/Moulik-Budhiraja/3D-Mapped-Christmas-Lights"
                target="_blank"
              >
                <li>3D Lighting</li>
              </a>
            </ul>
          </div>
        </section>
        <section class="projects">
          <h2>Projects</h2>

          <div class="nail-braille" id="nail-braille">
            <div class="images">
              <img
                src="images/nail-braille/Summary Image.jpg"
                alt="Nail Braille Title Image"
                class="img1"
              />
            </div>

            <div class="info-pane">
              <h3>Nail Braille</h3>
              <h6 class="project-links">
                <a
                  href="https://projectboard.world/ysc/project/nail-braille-a-novel-approach-towards-braille-education-gnzdel"
                  target="_blank"
                  class="thematic"
                  >PROJECTBOARD</a
                >
                |
                <a
                  href="https://github.com/Moulik-Budhiraja/Nail-Braille"
                  target="_blank"
                  class="thematic"
                  >GITHUB</a
                >
              </h6>
              <p class="project-description">
                Nail Braille is a device designed, prototyped and tested in
                collaboration with
                <span class="pop-over" tabindex="0"
                  >Katelyn Wu
                  <span>
                    <!-- Email and Linkedin -->
                    <a href="mailto:katelynatwu@gmail.com" target="_blank">
                      <img src="/images/mail.svg" alt="gmail"
                    /></a>

                    <a
                      href="https://www.linkedin.com/in/katelyn-wu-5a1076231/"
                      target="_blank"
                      ><img src="/images/linkedin.svg" alt="linkedin"
                    /></a>
                  </span>
                </span>
                to help the visually impaired learn braille in a way that
                minimizes cost and maximizes independence. <br /><br />This
                project earned the platinum award at the 2023 Canada Wide
                Science Fair.
                <a href="/blog/my-science-fair-experience" class="inline-link"
                  >Read more...</a
                >
              </p>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
