body {
  background-color: #222222;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pill {
  position: fixed;
  width: 175vh;
  height: max(25vh, 15rem);
  background-color: #d9d9d9;
  border-radius: 10000rem;
  opacity: 0.03;
  translate: -50% -50%;
  /* display: none; */
  pointer-events: none;
}

.pill-1 {
  top: 0;
  left: 10vw;
  rotate: 60deg;
}

.pill-2 {
  top: 170vh;
  right: -150vw;
  rotate: -60deg;
  display: none;
}

h1 {
  font-size: clamp(2rem, 7vw, 3rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.7rem, 5vw, 2rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h4 {
  font-size: 1.3rem;
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h5 {
  font-size: 1rem;
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-family: "Poiret One", sans-serif;
  color: #aaa;
  margin: 0;
}

p {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  color: #aaa;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}

i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-color: #aaa;
  transition: color 0.2s ease-out, text-decoration-color 0.2s ease-out,
    text-decoration-thickness 0.2s ease-out;
}

a:is(:hover, :focus) {
  text-decoration: underline;
  color: #eee;
  text-decoration-color: #eee;
  text-decoration-thickness: 0.1rem;
  text-decoration-thickness: 0.05rem;
}

a.inline-link {
  /* text-decoration: underline; */
  /* text-decoration-thickness: 0.05rem; */
  filter: brightness(1.2);
}

li a.inline-link {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  filter: brightness(1.1);
}

ul {
  padding-inline-start: 0;
  color: #aaa;
  font-family: "Manrope", sans-serif;
  padding-left: 3rem;
}

ul.contents {
  margin-bottom: 1rem;
}

.pop-over {
  filter: brightness(1.2);
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease-out, text-decoration-color 0.2s ease-out;
}

.inline-pop-over {
  text-decoration: none;
}

.pop-over:is(:hover, :focus) {
  color: #eee;
  text-decoration-color: #eee;
  text-decoration-thickness: 0.05rem;
  text-decoration: underline;
}

.pop-over > span {
  opacity: 0;
  display: flex;
  background-color: #111;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  border: 2px solid #222;
  position: absolute;
  top: -4.5rem;
  width: 7rem;
  left: 50%;
  translate: -50% -30%;
  transition: translate 0.4s ease-out, opacity 0.4s ease-out;
}

.pop-over > span::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 100%;
  left: 0;
  top: 0;
}

.pop-over > span::after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: #111;
  rotate: 45deg;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
}

.pop-over:is(:hover, :focus) > span {
  visibility: visible;
  opacity: 1;
  translate: -50% 0;
}

.pop-over img {
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s ease-out;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.pop-over a:is(:hover, :focus) img {
  opacity: 0.8;
}

.publish-info {
  opacity: 0.8;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  position: relative;
  top: 0.6rem;
}

.heading-image {
  padding-inline: 1rem;
}

p.img-subtitle {
  padding-left: 1rem;
  position: relative;
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.8;
  max-width: calc(100% - 2rem);
}

.awards-list {
  margin-bottom: 1rem;
}

.comments {
  margin-top: 3rem;
}

.comment-container {
  margin-block: 2rem;
}

.comment {
  width: fit-content;
  border-left: 2px solid rgba(255, 255, 255, 0.25);
  padding-left: 1.25rem;
}

.comment > .header {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.comment > .header > .title {
  padding-top: 0.5rem;
}

.comment > .header > .name {
  color: #aaa;
}

.comment > .content {
  margin-bottom: 0;
}

.comment > .reply {
  height: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  margin-left: auto;
}

.comment > .reply > span {
  font-size: 1.1rem;
  color: #aaa;
  font-family: "Poiret One", sans-serif;
  pointer-events: none;

  transition: color 0.2s ease-out;
}

.comment > .reply > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.comment > .reply > svg > g {
  stroke: #aaa;
  stroke-width: 0.05rem;
  transition: stroke 0.2s ease-out;
}

.comment > .reply:is(:hover, :focus) > span {
  color: #fff;
}

.comment > .reply:is(:hover, :focus) > svg > g {
  stroke: #fff;
}

.comment > .reply-window {
  margin-block: 1rem;
  position: relative;
}

.comment > .reply-window > .cancel {
  height: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  position: absolute;
  right: 0;
  top: 1rem;
}

.comment > .reply-window > .cancel * {
  pointer-events: none;
}

.comment > .reply-window > .cancel > span {
  font-size: 1.1rem;
  color: #aaa;
  font-family: "Poiret One", sans-serif;
  pointer-events: none;

  transition: color 0.2s ease-out;
}

.comment > .reply-window > .cancel svg {
  fill: none;
  width: 2.5rem;
  height: 2.5rem;
}

.comment > .reply-window > .cancel svg line {
  stroke: #aaa;
  stroke-width: 0.1rem;
  stroke-linecap: round;
  stroke-linejoin: round;

  transition: stroke 0.2s ease-out;
}

.comment > .reply-window > .cancel:is(:hover, :focus) > span {
  color: #fff;
}

.comment > .reply-window > .cancel:is(:hover, :focus) > svg line {
  stroke: #fff;
}

.comment > .header > .timestamp {
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.8;
  margin-left: auto;
  font-family: "Poiret One", sans-serif;
  color: #aaa;
  letter-spacing: -0.03rem;
  padding-left: 3rem;
  padding-right: 0.5rem;
}

.comment-form {
  width: min(100%, 50rem);
  font-family: "Poiret One", sans-serif;
  position: relative;
}

.comment-form > input,
textarea {
  width: 100%;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  background: #222222;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
  outline: none;
  color: #aaa;
  font-family: "Manrope", sans-serif;
  margin-block: 1rem;
}

.comment-form > textarea {
  resize: vertical;
}

.comment-form span {
  position: absolute;
  left: 0;
  margin-block: 1.75rem;
  margin-inline: 1.25rem;
  color: #999;
  transition: 0.3s;
  pointer-events: none;
}

.comment-form input:valid + span,
.comment-form input:focus + span,
.comment-form textarea:valid + span,
.comment-form textarea:focus + span {
  color: #eee;
  translate: 0rem -1.5rem;
  padding: 0 0.5rem;
  background-color: #222222;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  letter-spacing: 0.1rem;
}

.comment-form #submit {
  transition: 0.3s;
}

.comment-form #submit:is(:hover, :focus) {
  cursor: pointer;
  background-color: #999;
  color: #111;
  letter-spacing: 0.1rem;
}

@media (min-width: 925px) {
  .wrapper {
    padding: 0 2rem;
    overflow-x: visible;
  }

  .pill-2 {
    display: block;
    right: -60vw;
    top: 140vh;
  }

  .landing > * {
    margin: 0 2rem;
  }

  main {
    max-width: 50rem;
  }

  article {
    padding-top: 2rem;
    width: clamp(30rem, 85vw, 50rem);
  }

  .comment {
    max-width: 50rem;
  }

  .comment-form #name {
    width: clamp(15rem, 40%, 25rem);
  }

  .comment-form #title {
    width: clamp(15rem, 60%, 40rem);
  }

  .comment-form #submit {
    width: 10rem;
  }
}
