form {
  max-width: 50rem;
  display: flex;
  gap: 1rem;
}

.search-bar {
  flex: 1;
}

form .search-btn {
  flex: 0 0 7rem;
  font-family: "Poiret One", sans-serif;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
  position: relative;
  gap: 1rem;
  padding: 1rem;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: #222;
}

a:is(:hover, :focus) .blog {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #333;
  cursor: pointer;
}

.blog-img {
  top: 0;
  bottom: 0;
  width: 100%;
}

.blog-img img {
  height: 100%;
  object-fit: cover;
}

.blog-description {
  margin-bottom: 2rem;
}

.blog-date {
  position: absolute;
  bottom: 0rem;
  right: 0.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  max-width: 7rem;
}

@media screen and (min-width: 768px) {
  .blog {
    flex-direction: row;
  }

  .blog-img {
    width: 30%;
  }

  .blog-details {
    width: 70%;
  }

  form .search-btn {
    flex: 0 0 10rem;
  }
}
