ul {
  padding-left: 3rem;
}

.heading-image {
  margin-inline: 1rem;
}

.publish-info {
  padding-inline: 1rem;
  display: flex;
  margin-top: 0.5rem;
}

.author {
  margin-right: auto;
}

p.img-subtitle {
  margin-top: 0.1rem;
  padding-left: 1rem;
  position: relative;
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.8;
  max-width: calc(100% - 2rem);
}

.awards-list {
  margin-bottom: 1rem;
}

.comments {
  margin-top: 3rem;
}

.comment-container {
  margin-block: 2rem;
}

.comment {
  width: fit-content;
  border-left: 2px solid rgba(255, 255, 255, 0.25);
  padding-left: 1.25rem;
}

.comment > .header {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.comment > .header > .title {
  padding-top: 0.5rem;
}

.comment > .header > .name {
  color: #aaa;
}

.comment > .content {
  margin-bottom: 0;
}

.comment > .reply {
  height: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  margin-left: auto;
}

.comment > .reply > span {
  font-size: 1.1rem;
  color: #aaa;
  font-family: "Poiret One", sans-serif;
  pointer-events: none;

  transition: color 0.2s ease-out;
}

.comment > .reply > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.comment > .reply > svg > g {
  stroke: #aaa;
  stroke-width: 0.05rem;
  transition: stroke 0.2s ease-out;
}

.comment > .reply:is(:hover, :focus) > span {
  color: #fff;
}

.comment > .reply:is(:hover, :focus) > svg > g {
  stroke: #fff;
}

.comment > .reply-window {
  margin-block: 1rem;
  position: relative;
}

.comment > .reply-window > .cancel {
  height: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  position: absolute;
  right: 0;
  top: 1rem;
}

.comment > .reply-window > .cancel * {
  pointer-events: none;
}

.comment > .reply-window > .cancel > span {
  font-size: 1.1rem;
  color: #aaa;
  font-family: "Poiret One", sans-serif;
  pointer-events: none;

  transition: color 0.2s ease-out;
}

.comment > .reply-window > .cancel svg {
  fill: none;
  width: 2.5rem;
  height: 2.5rem;
}

.comment > .reply-window > .cancel svg line {
  stroke: #aaa;
  stroke-width: 0.1rem;
  stroke-linecap: round;
  stroke-linejoin: round;

  transition: stroke 0.2s ease-out;
}

.comment > .reply-window > .cancel:is(:hover, :focus) > span {
  color: #fff;
}

.comment > .reply-window > .cancel:is(:hover, :focus) > svg line {
  stroke: #fff;
}

.comment > .header > .timestamp {
  opacity: 0.8;
  margin-left: auto;
  padding-left: 3rem;
  padding-right: 0.5rem;
}

.comment > .header > .timestamp > span {
  font-family: "Poiret One", sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  color: #aaa;
  letter-spacing: -0.03rem;
}

.comment-form {
  width: min(100%, 50rem);
  font-family: "Poiret One", sans-serif;
  position: relative;
}

.comment-form > input,
textarea {
  width: 100%;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  background: #222222;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
  outline: none;
  color: #aaa;
  font-family: "Manrope", sans-serif;
  margin-block: 1rem;
}

.comment-form > textarea {
  resize: vertical;
}

.comment-form span {
  font-family: "Poiret One", sans-serif;
  position: absolute;
  left: 0;
  margin-block: 1.75rem;
  margin-inline: 1.25rem;
  color: #999;
  transition: 0.3s;
  pointer-events: none;
}

.comment-form input:valid + span,
.comment-form input:focus + span,
.comment-form textarea:valid + span,
.comment-form textarea:focus + span {
  color: #eee;
  translate: 0rem -1.5rem;
  padding: 0 0.5rem;
  background-color: #222222;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  letter-spacing: 0.1rem;
}

.comment-form #submit {
  transition: 0.3s;
}

.comment-form #submit:is(:hover, :focus) {
  cursor: pointer;
  background-color: #999;
  color: #111;
  letter-spacing: 0.1rem;
}

@media (min-width: 925px) {
  .comment {
    max-width: 50rem;
  }

  main {
    max-width: 50rem;
  }

  .comment-form #name {
    width: clamp(15rem, 40%, 25rem);
  }

  .comment-form #title {
    width: clamp(15rem, 60%, 40rem);
  }

  .comment-form #submit {
    width: 10rem;
  }
}
