pre {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

pre::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #313131;
  opacity: 1;
  border-radius: 0.3rem;
}

pre code {
  position: relative;
  display: block;
  overflow-x: auto;
  z-index: 1;
  color: #abb2bf;
  font-family: "Consolas", monospace;
  letter-spacing: 0;
  font-size: 14px;
}

pre span {
  font-family: "Consolas", monospace;
  letter-spacing: 0;
  font-size: 14px;
}

pre .code-copy {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  color: #3b3b3b;
  padding: 0.5rem;
  background-color: #252525;
  border-radius: 0.3rem;
  border: 1px solid #3b3b3b;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.3rem #222;
  overflow: visible;
}

pre .code-copy span {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  translate: -50% 0;
  background-color: #111;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #3b3b3b;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

pre .code-copy span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  translate: -50% 0;
  rotate: 45deg;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #111;
}

pre .code-copy.copied span {
  opacity: 1;
  pointer-events: auto;
}

pre .code-copy:is(:hover, .copied) {
  opacity: 0.8;
  border: 1px solid #868686;
}

pre .code-copy path {
  fill: #868686;
  transition: fill 0.3s ease-in-out;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}

.hljs-property,
.hljs-variable {
  color: #e17277;
}

.hljs-variable.language {
  color: #e4c281;
}
