body {
  background-color: #222222;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  overflow-x: visible;
}

.pill {
  position: fixed;
  width: 175vh;
  height: max(25vh, 15rem);
  background-color: #d9d9d9;
  border-radius: 10000rem;
  opacity: 0.03;
  translate: -50% -50%;
  /* display: none; */
}

.pill-1 {
  top: 0;
  left: 10vw;
  rotate: 60deg;
}

.pill-2 {
  top: 170vh;
  right: -150vw;
  rotate: -60deg;
  display: none;
}

.landing {
  height: 100vh;
  position: relative;
}

.left {
  margin-top: 10vh;
  margin-bottom: 25vh;
}

.socials {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.25rem;
}

.socials img {
  height: 30px;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.socials img:is(:hover, :focus) {
  opacity: 1;
}

.title {
  display: inline-block;
  margin-bottom: 3rem;
}

h1 {
  font-size: clamp(2rem, 13.5vw, 5rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h2 {
  font-size: clamp(2.5rem, 11vw, 4rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h3 {
  font-size: clamp(1.5rem, 6vw, 2.2rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-family: "Poiret One", sans-serif;
  color: #aaa;
  margin: 0;
}

p {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  color: #aaa;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-out, text-decoration-color 0.2s ease-out,
    text-decoration-thickness 0.2s ease-out;
}

a:is(:hover, :focus) {
  text-decoration: underline;
  color: #eee;
  text-decoration-color: #eee;
  text-decoration-thickness: 0.1rem;
}

a.inline-link {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  filter: brightness(1.2);
}

.name {
  line-height: 1;
  white-space: nowrap;
}

.stack {
  font-size: clamp(1.2rem, 8vw, 2.5rem);
  font-family: "Poiret One", sans-serif;
  color: #ccc;
  line-height: 1;
  margin: 0.3rem 0 0.75rem 0;
}

.description {
  margin-top: 3rem;
  padding: 0 2rem;
  position: relative;
}

.description::before {
  content: "";
  position: absolute;
  top: -12.5%;
  left: 0;
  width: 0.1rem;
  height: 125%;
  background-color: #eee;
}

.right {
  position: relative;
  display: none;
}

.right h2 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
  margin-bottom: 2rem;
  position: relative;
}

.project-list {
  position: relative;
}

.project-list li {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  color: #aaa;
  list-style: none;
  line-height: 2;
  text-align: center;
  transition: color 0.2s ease-out;
}

.project-list a:is(:hover, :focus) li {
  color: #eee;
}

.corner {
  --corner-stroke-width: 0.1rem;

  position: absolute;
  top: -1rem;
  width: 3rem;
  aspect-ratio: 1;
  background-color: #eee;
  clip-path: polygon(
    0 0,
    0 100%,
    var(--corner-stroke-width) 100%,
    var(--corner-stroke-width) var(--corner-stroke-width),
    100% var(--corner-stroke-width),
    100% 0
  );
}

.corner-end {
  top: revert;
  left: revert;
  bottom: -1rem;
  right: 0;
  rotate: 180deg;
}

.down-arrow {
  --corner-stroke-width: 0.05rem;
  width: 1rem;
  position: relative;
  top: -16vh;
  left: 50%;
  translate: -50% 0;
  rotate: 225deg;
  animation: bob-up-down 1.5s ease-in-out infinite;
}

@keyframes bob-up-down {
  0% {
    translate: -50% 0;
  }
  50% {
    translate: -50% 0.5rem;
  }
  100% {
    translate: -50% 0;
  }
}

.nail-braille .images {
  display: flex;
  flex-direction: row;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  margin-block: 3rem;
}

/* Have the images stacked */
.nail-braille .images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;

  /* Have all images square and zoom to make it possible */
  aspect-ratio: 1;
  object-position: center;
  object-fit: cover;
}

.nail-braille .images::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  aspect-ratio: 1;
  /*  Have a gradient from black to transparent from the bottom to 50% */
  background: linear-gradient(
    to bottom,
    rgba(34, 34, 34, 0),
    rgba(34, 34, 34, 0.5) 60%,
    rgba(34, 34, 34, 0.7) 70%,
    rgba(34, 34, 34, 1) 100%
  );
}

.nail-braille .project-description {
  max-width: min(80vw, 30rem);
}

.nail-braille .info-pane {
  position: relative;
  top: -10rem;
}

.pop-over {
  filter: brightness(1.2);
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease-out, text-decoration-color 0.2s ease-out;
}

.pop-over:is(:hover, :focus) {
  color: #eee;
  text-decoration-color: #eee;
  text-decoration-thickness: 0.05rem;
  text-decoration: underline;
}

.pop-over > span {
  opacity: 0;
  display: flex;
  background-color: #111;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  border: 2px solid #222;
  position: absolute;
  top: -4.5rem;
  width: 7rem;
  left: 50%;
  translate: -50% -30%;
  transition: translate 0.2s ease-out, opacity 0.4s ease-out;
}

.pop-over > span::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 100%;
  left: 0;
  top: 0;
}

.pop-over > span::after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: #111;
  rotate: 45deg;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
}

.pop-over:is(:hover, :focus) > span {
  visibility: visible;
  opacity: 1;
  translate: -50% 0;
}

.pop-over img {
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s ease-out;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.pop-over a:is(:hover, :focus) img {
  opacity: 0.8;
}

@media (min-width: 925px) {
  .wrapper {
    padding: 0 2rem;
    overflow-x: visible;
  }

  .pill-2 {
    display: block;
    right: -70vw;
    top: 140vh;
  }

  .landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .landing > * {
    margin: 0 2rem;
  }

  .socials {
    position: static;
    top: 0;
    right: 0;
    justify-content: center;
    padding: 1rem 0 0 0;
  }

  .left {
    margin-top: 0;
    width: clamp(30rem, 60%, 40rem);
  }

  .title {
    margin-bottom: 0;
  }

  .name {
    font-size: clamp(5rem, 8vw, 6rem);
  }

  .stack {
    font-size: clamp(2.5rem, 4vw, 3rem);
    text-align: center;
    margin: 0;
  }

  .right {
    display: block;
  }

  .right h2 {
    left: -1.5rem;
  }

  .corner {
    left: -1.5rem;
  }

  .corner-end {
    left: revert;
    right: -1.5rem;
  }

  .down-arrow {
    display: none;
  }

  .nail-braille {
    max-height: 80vh;
  }

  .nail-braille .project-description {
    max-width: min(40vw, 30rem);
  }

  .nail-braille .images {
    aspect-ratio: unset;
    height: max(70vh, 45rem);
    margin-block: 0rem;
  }

  .nail-braille .images img {
    padding: 5rem;
  }

  .nail-braille .images::after {
    content: "";
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: calc(100% - 10rem);
    height: calc(max(70vh, 45rem) - 10rem);
    /*  Have a gradient from black to transparent from the bottom to 50% */
    background: linear-gradient(
      to bottom,
      rgba(34, 34, 34, 0),
      rgba(34, 34, 34, 0.5) 60%,
      rgba(34, 34, 34, 0.7) 70%,
      rgba(34, 34, 34, 1) 100%
    );
  }

  .nail-braille .info-pane {
    position: relative;
    top: -15rem;
  }
}
