:root {
  --link-color: #0086c4;
  --link-hover-color: #41bdf7;
}

body {
  background-color: #222222;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pill {
  position: fixed;
  width: 175vh;
  height: max(25vh, 15rem);
  background-color: #d9d9d9;
  border-radius: 10000rem;
  opacity: 0.03;
  translate: -50% -50%;
  /* display: none; */
  pointer-events: none;
}

.pill-1 {
  top: 0;
  left: 10vw;
  rotate: 60deg;
}

.pill-2 {
  top: 170vh;
  right: -150vw;
  rotate: -60deg;
  display: none;
}

h1 {
  font-size: clamp(2rem, 7vw, 3rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.7rem, 5vw, 2rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h4 {
  font-size: 1.3rem;
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h5 {
  font-size: 1rem;
  font-family: "Poiret One", sans-serif;
  color: #eee;
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-family: "Poiret One", sans-serif;
  color: #aaa;
  margin: 0;
}

p {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  color: #aaa;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}

span {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  color: #aaa;
}

i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.2s ease-out, text-decoration-color 0.2s ease-out;
}

a:is(:hover, :focus) {
  color: var(--link-hover-color);
}

a.thematic {
  color: #aaa;
}

a.thematic:is(:hover, :focus) {
  color: #eee;
}

ul {
  padding-inline-start: 0;
  color: #aaa;
  font-family: "Manrope", sans-serif;
}

ul.contents {
  margin-bottom: 1rem;
}

.pop-over {
  color: var(--link-color);
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease-out, text-decoration-color 0.2s ease-out;
}

.pop-over:is(:hover, :focus) {
  color: var(--link-hover-color);
  text-decoration-color: currentColor;
}

.pop-over > span {
  opacity: 0;
  display: flex;
  background-color: #111;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  border: 2px solid #222;
  position: absolute;
  top: -4.5rem;
  width: 7rem;
  left: 50%;
  translate: -50% -30%;
  pointer-events: none;
  transition: translate 0.3s ease-out, opacity 0.4s ease-out;
}

.pop-over > span::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.pop-over > span::after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: #111;
  rotate: 45deg;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
  pointer-events: none;
}

.pop-over:is(:hover, :focus) > span {
  visibility: visible;
  opacity: 1;
  translate: -50% 0;
  pointer-events: auto;
}

.pop-over:is(:hover, :focus) > span::before {
  pointer-events: auto;
}

.pop-over img {
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s ease-out;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.pop-over a:is(:hover, :focus) img {
  opacity: 0.8;
}

form.form-control {
  font-family: "Poiret One", sans-serif;
  position: relative;
}

input.form-control,
textarea.form-control {
  width: 100%;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  background: #222222;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
  outline: none;
  color: #aaa;
  font-family: "Manrope", sans-serif;
  margin-block: 1rem;
  transition: border 0.3s ease-out;
}

form.form-control #submit {
  transition: 0.3s;
}

form.form-control #submit:is(:hover, :focus) {
  cursor: pointer;
  background-color: #999;
  color: #111;
  letter-spacing: 0.1rem;
}

form.form-control span.form-control.input-label {
  font-family: "Poiret One", sans-serif;
  position: absolute;
  left: 0;
  margin-block: 1.75rem;
  margin-inline: 1.25rem;
  color: #999;
  transition: 0.3s;
  pointer-events: none;
}

form.form-control input.form-control:focus,
form.form-control textarea.form-control:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #eee;
  transition: 0.3s;
}

form.form-control input.form-control:valid + span.form-control.input-label,
form.form-control input.form-control:focus + span.form-control.input-label,
form.form-control textarea.form-control:valid + span.form-control.input-label,
form.form-control textarea.form-control:focus + span.form-control.input-label {
  color: #eee;
  translate: 0rem -1.5rem;
  padding: 0 0.5rem;
  background-color: #222222;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  letter-spacing: 0.1rem;
}

form.form-control input[type="submit"].form-control {
  transition: 0.3s;
}

form.form-control input[type="submit"].form-control:is(:hover, :focus) {
  cursor: pointer;
  background-color: #999;
  color: #111;
  letter-spacing: 0.1rem;
}

.logout-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-family: "Poiret One", sans-serif;
  font-size: 1.2rem;
  z-index: 1;
}

@media (min-width: 925px) {
  .wrapper {
    padding: 0 2rem;
    overflow-x: visible;
  }

  .pill-2 {
    display: block;
    right: -70vw;
    top: 140vh;
  }

  .landing > * {
    margin: 0 2rem;
  }

  article {
    padding-top: 2rem;
    width: clamp(30rem, 85vw, 50rem);
  }
}
